body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Path to your JPEG image */
    background-size: cover; /* This will cover the whole viewport */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-attachment: fixed; /* Fixed background */
    background-position: center center; /* Center the background image */
    color: #fff;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
