/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    width: 400px; /* Adjust the width as needed */
}

/* Styles for input fields and button */
input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

input {
    border: none;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}
